$color-background: #e5e5e5;

$color-typography-first: #222222;
$color-typography-second: #474747;
$color-typography-third: #5c5c5c;
$color-typography-fourth: #999999;
$color-typography-fifth: #d1d1d1;
$color-typography-sixth: #7d7d7d;
$color-typography-online: #1bda9d;
$color-typography-stopped: #fe4848;
$color-typography-paused: #ff8346;

$color-site-first: #e14165;
$color-site-second: #c2c2ff;
$color-site-third: #8686ff;

$color-white: #ffffff;
$color-primary: #2ee5ac;
